<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>...</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-app="routeApp">
	<span>Choose:</span>
	<br>
	<br>
	<a href="#employees">Employees</a>
	<a href="#departments">Departments</a>
	<div ng-view></div>
    <!--<div ng-app="testApp">
		<div>
			<h2 style="color: blue;">One way data binding? Cool!</h2>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Enter a name here">
			<h3>Hello {{yourName}}!</h3>
		</div>
		<hr>
		<div>
			<h2 style="color: green;">Two way data binding? Great!</h2>
			<textarea type="text" ng-model="newName" placeholder="Enter some text to change the value of the underlying model"></textarea>
			<button ng-click="yourName = newName">Change the underlying model's value</button>
		</div>
		<hr>
	</div>-->
	<script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
	<script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
	<!--<script src="test.app.js" type="text/javascript"></script>-->
	<script src="employee.ctrl.js" type="text/javascript"></script>
	<script src="department.ctrl.js" type="text/javascript"></script>
	<script src="app.route.js" type="text/javascript"></script>
</body>
</html>